<!--The content below is only a placeholder and can be replaced.-->

<div id="construction">
  <div class="jumbotron">
    <h1 class="display-4"><b>Welcome to Bright Building Solutions</b></h1>
    <p class="lead">This website is currently under construction</p>
    <hr class="my-4">
    <div id="contact">
      <div style="float: left; display: inline; margin-right: 10px;">
        <i class="fas fa-envelope"></i>
      </div>
      <div style="float: right;">
          <p><b>John@doe.com</b></p>
      </div>
    </div>
  </div>
</div>


